/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/web/assets/
/web/css/
/web/js/
.sass-cache

/.idea/workspace.xml
/.idea/tasks.xml
/.idea/dictionaries
/.idea/watcherTasks.xml