{% extends 'SidusEAVDemoBundle:Data:index.html.twig' %}

{% block middle_content %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="btn-group pull-right">
            <a href="{{ path('sidus_eavdemo.data.list', {familyCode: family.code}) }}" class="btn btn-default">Retour</a>
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
    {{ form_end(form) }}
{% endblock %}
